{% extends "base.html.twig" %}

{% block body %}
    {% if session.erreur is not null %}
        <div class="alert alert-danger" role="alert">
            {{ session.erreur}}
        </div>
    {% endif %}
    {% if session.message is not null %}
        <div class="alert alert-success" role="alert">
            {{ session.message}}
        </div>
    {% endif %}
    <h2><a href="index.php?p=posts" class="btn btn-secondary mt-2 bg-secondary">Retour aux articles</a></h2>

    <h2>{{ post.title }}</h2>
    <h3 class="h5">{{ post.hat }}</h2>
    <p>{{ post.content }}</p>
    <h4>Commentaires</h4>
      {% if postComments|length > 0 %}
        {% for comment in postComments %}
        <p>
            <strong>{{comment.author}}:</strong>
            <br />
            {{ comment.content}}
            <span>
                - Le {{ comment.created_at|date('d/m/y')}}
            </span>
            <hr />
        </p>
        {% endfor %}
    {% else %}
       Pas de commentaires !
    {% endif %}

    {% if session.user.email is not null %}

    <form method="post">
        <div class="form-group">
            <input type="text" name="comment" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Ajouter</button>
    </form>

    {% endif %}

{% endblock %}



