{% extends "base.html.twig" %}

{% block body %}

    <p class="mt-4"> Vodre adresse mail est : <a href=mailto:{{ session.user.email }}> {{ session.user.email }} </a></p>

    <p>Voici la liste des commentaires à approuver :</p>

  {% for comment in CommentsUnvalidated %}
    <div class="row align-center">
        <div class="bg-light p-3 w-75 my-2">
            <p>{{ comment.content }}</p>
            <span class="font-italic">
                - Le {{ comment.created_at|date('d/m/y')}}
            </span>
            <a href="index.php?p=posts/show/{{ comment.post_id }}">Article lié</a>
        </div>
        <div class="w-25 my-2">
            <form method="post">
                <input style="height:20px;width:20px;" class="form-check-input" type="checkbox" value="1" name="validated" id="validated{{ comment.id }}">
           
        </div>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mt-2">Valider</button>
    </form>


    {% if session.user.roles == '1' %}
        {% if CommentsUnvalidated != '' %}
              
        {% else %}
         <p> Pas de commentaires à valider !</p>
        {% endif %}
    {% endif %}

{% endblock %}